:root {
    --max-width-container: 400px;
    --margin-container: 32px auto;
    --padding-container: 20px;
    --border: 1px solid #ccc;
    --border-radius: 5px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --bg-color: #ffffff;
    --font-family: Tahoma, Geneva, sans-serif;
    --font-size: 18px;
    --font-color: #494949FF;
    --font-weight: 400;
    --primary-color: #28a745;
    --primary-hover-color: #218838;
    --secondary-bg-color: #cbcbcb;
    --link-color: #494949;
    --link-hover-color: #ffffff;
    --fallback-bg-color: #4CAF50;
    --fallback-hover-color: #3e8e41;
    --auth-max-width: 200px;
    --auth-border-radius: 12px;
}

/* Common Styles */
.container {
    max-width: var(--max-width-container);
    margin: var(--margin-container);
    padding: var(--padding-container);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.container input {
    margin-bottom: 15px;
    padding: 10px;
    border: var(--border);
    border-radius: 3px;
}

.container button {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.container button:hover {
    background-color: var(--primary-hover-color);
}

.message {
    margin-bottom: 15px;
    text-align: center;
}

.success {
    color: green;
}

.error {
    color: red;
}

/* Specific Container Styles */
.register-container {}

.auth-container {
    max-width: var(--auth-max-width);
    padding: 16px;
    border-radius: var(--auth-border-radius);
}

.auth-container h2 {
    margin-bottom: 32px;
}

/* Password Strength Meter */
.password-strength-meter {
    margin-bottom: 15px;
}

.password-strength-meter-progress {
    width: 100%;
    height: 7px;
    margin-bottom: 5px;
}

.password-strength-meter p {
    text-align: center;
    margin: 0;
    font-size: 0.9em;
}

/* Fallback Styles */
.fallback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
    background-color: var(--bg-color);
}

.fallback-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.fallback-message {
    text-align: center;
    font-size: 20px;
    margin-bottom: 1px;
}

.fallback-error-code {
    text-align: center;
    font-size: 16px;
    color: #818181;
    margin-bottom: 24px;
}

.fallback-button {
    padding: 15px 25px;
    background-color: var(--fallback-bg-color);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 32px;
}

.fallback-button:hover {
    background-color: var(--fallback-hover-color);
}

/* App Container */
.app-container {
    max-width: 100vw;
    padding: 16px;
    background-color: #868686;
}

.app-container body {
    margin: 0;
    padding: 0;
}

.app-container h1 {
    text-align: center;
    color: #19ff00;
    margin-bottom: 32px;
}

.app-container nav {
    background-color: var(--secondary-bg-color);
    padding: 12px;
}

.app-container nav ul {
    display: flex;
    justify-content: space-between;
}

.app-container nav li {
    margin-right: 36px;
}

.app-container nav a {
    text-decoration: none;
    color: var(--link-color);
}

.app-container nav a:hover {
    color: var(--link-hover-color);
}

/* Font Styles */
#font {
    font-family: var(--font-family);
    font-size: var(--font-size);
    letter-spacing: -0.4px;
    word-spacing: 0.8px;
    color: var(--font-color);
    font-weight: var(--font-weight);
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

/* Layout and Positioning */
.left-side {
    display: flex;
    align-items: center;
    gap: 16px;
}

.right-side {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-side:hover svg {
    color: white;
}

/* Account Menu */
.account-icon {
    position: relative;
    cursor: pointer;
    overflow: visible;
}

.account-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--bg-color);
    border: 1px solid #ddd;
    padding: 8px;
    transition: transform 0.3s ease;
    transform-origin: top right;
}

.account-menu li {
    display: block;
    text-align: right;
    justify-content: flex-end;
}

.account-menu li a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
}

.account-menu li a:hover {
    background-color: var(--primary-hover-color);
}
